.product-cart {
    border: 5px solid tomato;
    width: 27vw;
    margin: 10px auto;

    padding-bottom: 15px;
    border-radius: 5px;
    background-color: #ddd;
    padding: 20px;
}

.product-cart button {
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 900;
    background: linear-gradient(tomato, salmon);
}

.cart-buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    /* width: 50%; */

}